@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    font-family: "Raleway", sans-serif;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.center-text {
    text-align: center;
}